:root {
  --main-bg:#70A5B5;
  --body-bg:#88C8DB;
  --accent:#97DFF5;
  --main-text:#213136;
  --second-text:#496B75;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: var(--body-bg);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: var(--main-bg);
  color: black;
  border-radius: 0;
  border-bottom: 10px solid var(--accent);
}

.description {
  white-space: pre-wrap;
}

.row {
  white-space: pre-wrap;
  height: 80px;
}

.hour {
  background-color: var(--body-bg)
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.custom-margin {
  margin-bottom: 3.5%;
  margin-top: 3.5%;
}

/* I realized AFTER I wrote the javascript that the timeblock class is technically in the wrong place... So, I'm applying the correct styling meant for the time block here and deleting the time block class from CSS for styling purposes and keeping it in the HTML since my js is relying on it */

.custom-time-block {
  text-align: center;
  border-radius: 15px;
}

.title-text {
  font-family: 'Rock Salt', cursive;
  color: var(--main-text);
}

.writing-text {
  font-family: 'Reenie Beanie', cursive;
  font-size: 200%;
  color: var(--second-text);
}

.note-taking-text {
  font-family: 'Hachi Maru Pop', cursive;
}

.button-style {
display: flex;
justify-content: center;
align-items: center;
background: none;
border: none;
font-size: 200%;
}